:root {
  /* colors */
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --primary-white: hsl(0, 0%, 100%);
  --accent-blue: hsl(248, 32%, 49%);
  --neutral-dark-blue: hsl(249, 10%, 26%);
  --neutral-gray-blue: hsl(246, 25%, 77%);

  /* typography */
  --font-family: 'Poppins', san-serif;
  --font-reg: 400;
  --font-med: 500;
  --font-bold: 600;
  --font-bolder: 700;
}


/* BASE STYLES */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background: no-repeat url(./assets/bg-intro-mobile.png) fixed center / cover;
  background-color: var(--primary-red);
  text-align: center;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--primary-white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* MEDIA QUERIES */

@media (min-width: 800px) {
  body {
    background: no-repeat url(./assets/bg-intro-desktop.png) fixed center / cover;
    background-color: var(--primary-red);
  }
}

@media (max-height: 750px) and (max-width: 600px) {
  body {
    height: 100%;
  }
}
